<ion-header>
  <ion-toolbar>
    <ion-title>토론토 서부교회 내정보 </ion-title>
    <ion-buttons slot="primary">
      <ion-button (click)="onCancel()">
        <ion-icon name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-label>기본정보</ion-label>
  <ion-grid >
    <ion-row>
      <ion-col >
        <ion-label>이메일</ion-label>
      </ion-col>
      <ion-col class="ion-text-right">
        <ion-label> {{loggedUser.email}}</ion-label>
      </ion-col>      
    </ion-row>    
    <ion-row>
      <ion-col >
        <ion-label>이름</ion-label>
      </ion-col>
      <ion-col class="ion-text-right">
        <ion-label> {{loggedUser.name}}</ion-label>
      </ion-col>        
    </ion-row>   
    <ion-row>
      <ion-col >
        <ion-label>생년월일</ion-label>
      </ion-col>
      <ion-col class="ion-text-right">
        <ion-label> </ion-label>
      </ion-col>       
    </ion-row>   
    <ion-row>
      <ion-col >
        <ion-label>비밀번호</ion-label>
      </ion-col>
      <ion-col class="ion-text-right">
        <ion-button 
          color="primary" 
          size="small" 
          fill="outline" (click)="onResetPassword()">변경</ion-button>
      </ion-col>        
    </ion-row>       
  </ion-grid>

    <ion-button expand="full" color="primary" (click) = "onLogout()">Logout</ion-button>

</ion-content>