<ion-header>
  <ion-toolbar>
    <ion-title>멤버등록</ion-title>
    <ion-buttons slot="end">
      <ion-button routerLink="/main/tabs/members">
        <ion-icon name="close" ></ion-icon>
        <ion-label>나가기</ion-label>
      </ion-button>
    </ion-buttons>  
  </ion-toolbar>
</ion-header>

<ion-content>
<form (ngSubmit)="onAddMember(f)" #f="ngForm">
<ion-grid>
  <ion-row>
    <ion-col size-sm="6" offset-sm="3">

      <ion-item>
        <!-- <ion-label position="floating" >이름</ion-label> -->
        <ion-input 
          type="text" 
          placeholder="*이름"
          ngModel name="name" 
          required 
          clearInput
          #nameCtrl="ngModel">
        </ion-input>
      </ion-item>
      <p *ngIf="!nameCtrl.valid && nameCtrl.touched"
        class="error-message"
        style="text-align: center;">
        * 이름을 입력하세요
      </p>   
  
      <ion-item>
        <ion-input 
          type="text" 
          placeholder="모바일번호" 
          ngModel 
          clearInput
          name="phone1" 
          #phoneCtrl="ngModel">
        </ion-input>
      </ion-item>
      <ion-item>
        <ion-input 
          type="text" 
          placeholder="홈번호" 
          ngModel 
          clearInput
          name="homePhone" 
          #homePhoneCtrl="ngModel"
          ></ion-input>
      </ion-item> 
    
      <ion-item>
        <ion-input 
          type="text" 
          placeholder="직장번호" 
          ngModel 
          clearInput
          name="businessPhone" 
          #businessPhoneCtrl="ngModel"
          ></ion-input>
      </ion-item>
  
      <ion-item>
        <ion-textarea 
          type="text" 
          placeholder="주소" 
          ngModel 
          clearInput
          rows="5"
          name="address" 
          ></ion-textarea>
      </ion-item>

      <ion-item>
        <!-- <ion-label position="floating" >소속</ion-label>  -->
        <ion-select 
          ngModel 
          name="ageStatus" 
          placeholder="소속" 
          #ageStatusCtrl="ngModel"  >
          <ion-select-option value="장년">장년</ion-select-option>
          <ion-select-option value="시니어">시니어</ion-select-option>
          <ion-select-option value="청년">청년</ion-select-option>
        </ion-select> 
      </ion-item>
   
    </ion-col>
  </ion-row>  
 
  <ion-row>
    <ion-col ion-col size-sm="6" offset-sm="3">
      <div >
        <ion-img 
          class="image"
          role="button"
          (click)="onPickImage()"
          [src]="selectedImage" 
          *ngIf="selectedImage"></ion-img>
        <ion-button color="primary" 
          (click)="onPickImage()" 
          *ngIf="!selectedImage">
          <ion-icon name="camera" slot="start"></ion-icon>
          <ion-label>Take Picture</ion-label>
        </ion-button>
      </div>
      <input
       type="file"
       accept="image/jpeg"
       *ngIf="usePicker" 
       #filePicker 
       (change) ="onFileChosen($event.target.files)"/>
    </ion-col>
  </ion-row>   
  <ion-row>
    <ion-col size-sm="6" offset-sm="3">
        <ion-button type="submit" [disabled]='!f.valid' expand="full" color="primary" >Save</ion-button>
    </ion-col>
  </ion-row>   
</ion-grid>
</form>
</ion-content>
