<ion-header>
  <ion-toolbar>
    <ion-title>정보수정</ion-title>
    <ion-buttons slot="end" >
      <ion-button routerLink="/main/tabs/members">
        <ion-icon name="close"></ion-icon>
        <ion-label>나가기</ion-label>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
<form (ngSubmit)="onEditMember(f)" #f="ngForm">
<ion-grid *ngIf="!isLoading">
  <ion-row>
    <ion-col size-sm="6" offset-sm="3">
      <ion-item>
        <!-- <ion-label position="floating" >이름</ion-label> -->
        <ion-input 
          type="text" 
          [ngModel]="member.name" 
          name="name" 
          placeholder="*이름"
          clearInput
          #nameCtrl="ngModel"
          required></ion-input>
      </ion-item>
<!--       <ion-item *ngIf="!nameCtrl.valid && nameCtrl.touched">
        <ion-label color="primary">이름을 입력하세요</ion-label>
      </ion-item>  --> 
      <p *ngIf="!nameCtrl.valid && nameCtrl.touched"
        class="error-message"
        style="text-align: center;">
        * 이름을 입력하세요
      </p>  
       

      <ion-item>
        <!-- <ion-label position="floating" >모바일번호</ion-label> -->
        <ion-input 
          type="text" 
          clearInput
          placeholder="모바일번호"
          [ngModel]="member.phone1" 
          name="phone" 
          #phoneCtrl="ngModel"
          ></ion-input>
      </ion-item>
   
<!--       <ion-item *ngIf="!phoneCtrl.valid && phoneCtrl.touched">
        <ion-label color="primary">전화번호를 입력하세요</ion-label>
      </ion-item>   -->     
      <ion-item>
        <!-- <ion-label position="floating" >홈번호</ion-label> -->
        <ion-input 
          type="text" 
          [ngModel]="member.homePhone" 
          clearInput
          placeholder="홈번호" 
          name="homePhone" 
          #homePhoneCtrl="ngModel"
          ></ion-input>
      </ion-item> 
     
      <ion-item>
        <!-- <ion-label position="floating" >직장번호</ion-label> -->
        <ion-input 
          type="text" 
          [ngModel]="member.businessPhone"
          clearInput
          name="businessPhone" 
          placeholder="직장번호" 
          #businessPhoneCtrl="ngModel"
          ></ion-input>
      </ion-item>
     
      <ion-item>
        <!-- <ion-label position="floating" >주소</ion-label>    -->     
        <ion-textarea 
        type="text" 
        [ngModel]="member.address" 
        clearInput
        placeholder="주소"
        name="address" 
        row="5"
        ></ion-textarea>
      </ion-item>
   
      <ion-item>
        <!-- <ion-label position="floating" >소속</ion-label> --> 
        <ion-select 
          [ngModel]="member.ageStatus" 
          name="ageStatus" 
          placeholder="소속" 
          #ageStatusCtrl="ngModel"  >
          <ion-select-option value="장년">장년</ion-select-option>
          <ion-select-option value="시니어">시니어</ion-select-option>
          <ion-select-option value="청년">청년</ion-select-option>
        </ion-select> 
      </ion-item>
     
      <div >
        <ion-img 

          role="button"
          (click)="onPickImage()"
          [src]="selectedImage" 
          *ngIf="selectedImage">
        </ion-img>
        <ion-button color="primary" 
          (click)="onPickImage()" 
          *ngIf="!selectedImage">
          <ion-icon name="camera" slot="start"></ion-icon>
          <ion-label>Take Picture</ion-label>
        </ion-button>
      </div>
      <input
       type="file"
       accept="image/jpeg"
       *ngIf="usePicker" 
       #filePicker 
       (change) ="onFileChosen($event)"/>
       
     
       
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col size-sm="6" offset-sm="3">
      <ion-button 
        fill="clear" 
        expand="block" 
        *ngIf="!pickedFile && member.fileName.length > 0"
        (click)="onRemovePhoto()">remove photo
      </ion-button>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col size-sm="6" offset-sm="3">
        <ion-button 
          type="submit" 
          expand="block" 
          [disabled]='!f.valid'
          color="primary" >Edit</ion-button>
    </ion-col>
  </ion-row>   
</ion-grid>
</form>
</ion-content>
