<ion-header>
  <ion-toolbar>
    <ion-title>정보수정</ion-title>
    <ion-buttons slot="end" >
      <ion-button routerLink="/main/tabs/members">
        <ion-icon name="close"></ion-icon>
        <ion-label>나가기</ion-label>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
<form (ngSubmit)="onEditMember(f)" #f="ngForm">
<ion-grid *ngIf="!isLoading">
  <ion-row>
    <ion-col size-sm="6" offset-sm="3">
      <ion-item>
        <ion-input 
          type="text" 
          placeholder="name" 
          [ngModel]="member.name" 
          name="name" 
          #nameCtrl="ngModel"
          required></ion-input>
      </ion-item>
      <ion-item *ngIf="!nameCtrl.valid && nameCtrl.touched">
        <ion-label color="primary">이름을 입력하세요</ion-label>
      </ion-item>      
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col size-sm="6" offset-sm="3">
      <ion-item>
        <ion-input 
          type="text" 
          placeholder="phone" 
          [ngModel]="member.phone1" 
          name="phone" 
          #phoneCtrl="ngModel"
          required></ion-input>
      </ion-item>
      <ion-item *ngIf="!phoneCtrl.valid && phoneCtrl.touched">
        <ion-label color="primary">전화번호를 입력하세요</ion-label>
      </ion-item>       
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col size-sm="6" offset-sm="3">
      <ion-item>
        <ion-input type="text" placeholder="address" [ngModel]="member.address" name="address" required></ion-input>
      </ion-item>
    </ion-col>
  </ion-row>  
  <ion-row>
    <ion-col>
      <div >
        <ion-img 

          role="button"
          (click)="onPickImage()"
          [src]="selectedImage" 
          *ngIf="selectedImage"></ion-img>
        <ion-button color="primary" 
          (click)="onPickImage()" 
          *ngIf="!selectedImage">
          <ion-icon name="camera" slot="start"></ion-icon>
          <ion-label>Take Picture</ion-label>
        </ion-button>
      </div>
      <input
       type="file"
       accept="image/jpeg"
       *ngIf="usePicker" 
       #filePicker 
       (change) ="onFileChosen($event)"/>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col size-sm="6" offset-sm="3">
        <ion-button 
          type="submit" 
          expand="block" 
          [disabled]='!f.valid'
          color="primary" >Edit</ion-button>
    </ion-col>
  </ion-row>   
</ion-grid>
</form>
</ion-content>
