

<!-- <ion-header>
  <ion-toolbar>
    <ion-img [src]="'https://openimagedenoise.github.io/images/moana_16spp_oidn.jpg'"></ion-img>
  </ion-toolbar>
</ion-header> -->
<!-- <ion-header>
  <ion-toolbar>
    <ion-buttons>
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Discover Places</ion-title>
  </ion-toolbar>
</ion-header> -->
    <ion-tabs>
      <ion-tab-bar slot="bottom">
        <ion-tab-button tab="news">  <!-- match withrouting setup -->  
          <ion-label>News</ion-label>
          <ion-icon name="search"></ion-icon>
        </ion-tab-button>
        <ion-tab-button tab="bands">
          <ion-label>Bands</ion-label>
          <ion-icon name="card"></ion-icon>
        </ion-tab-button>
        <ion-tab-button tab="members">
          <ion-label>Members</ion-label>
          <ion-icon name="person-outline"></ion-icon>
        </ion-tab-button>        
      </ion-tab-bar>
    </ion-tabs>

