<ion-header>
  <ion-toolbar>
    <ion-title>멤버등록</ion-title>
    <ion-buttons slot="primary">
      <ion-button (click)="onCancel()">
        <!-- <ion-icon name="close" slot="icon-only"></ion-icon> -->
        <ion-icon name="exit-outline" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <form [formGroup]="form" (ngSubmit)="onFormSubmit()">
    <ion-grid>
      <ion-row>
        <ion-col size-sm="6" offset-sm="3">
          <div style="padding:0px 35px 0px 35px">
          <ion-item>
            <!-- <ion-label position="floating">EMAIL*</ion-label> -->
<!--         <ion-input
              placeholder="Required"
              type="text"
              ngModel
              name="email"
              required
              #emailCtrl="ngModel"
            ></ion-input> -->
            <ion-input
              placeholder="이메일*"
              clearInput 
              type="email"
              name="email"
              formControlName="email"
            ></ion-input>            
          </ion-item>

          <p 
            *ngIf="!form.get('email').valid  && form.get('email').touched"
            class="error-message" 
            style="text-align: center;">
            * 이메일을 입력하세요
          </p><br>

<!--           <ion-item lines="none" class="ion-text-right"
          *ngIf="!form.get('email').valid  && form.get('email').touched">
          <div class="error"
              *ngIf="form.get('email').hasError('required') && form.get('email').touched">
              <p class="error-message">* Email is required</p>
          </div>
        </ion-item>  --> 
          <ion-item>
            <!-- <ion-label position="floating">NAME*</ion-label> -->
<!--             <ion-input
              placeholder="Required"
              type="text"
              ngModel
              name="name"
              required
              #nameCtrl="ngModel"
            ></ion-input> -->
            <ion-input
              placeholder="이름*"
              clearInput
              type="text"
              formControlName="name"
            ></ion-input>            
          </ion-item>

          <p 
            *ngIf="!form.get('name').valid  && form.get('name').touched"
            class="error-message" 
            style="text-align: center;">
            * 이름을 입력하세요
          </p><br>

<!--           <ion-item lines="none"
            *ngIf="!form.get('name').valid  && form.get('name').touched">
            <div class="error"
                *ngIf="form.get('name').hasError('required') && form.get('name').touched">
                <p class="error_message">* Confirm password is required</p>
            </div>
          </ion-item>  <br>    -->     
<!--      <ion-item *ngIf="!emailCtrl.valid && emailCtrl.touched">
            <ion-label>Name is required</ion-label>
          </ion-item>  -->           
          <ion-item>
<!--             <p class="black size-12" style="margin: 0 !important;">Password Policy</p>
            <p class="gray size-12" style="margin: 0 !important;">
              at least 8 characters long<br>
              at least 1 character <br>
              at least 1 number  <br>
              at least 1 special character
            </p> -->

            <!-- <ion-label position="floating">PASSWORD*</ion-label> -->
<!--             <ion-input
              placeholder="Required"
              type="password"
              ngModel
              name="password"
              required
              #passwordCtrl="ngModel"
              minlength="6"
            ></ion-input> -->
            <ion-input
              formControlName="password"
              placeholder="비밀번호*"
              clearInput
              minlength="6"
              maxlength="20"
              [type]="passwordType"
            ></ion-input>   
            <ion-button 
            
              fill="clear" slot="end" expand="block" (click)="showPassword()">
              {{show_hide}}
            </ion-button>                     
          </ion-item>
          <div style="padding-left:15px ">
            <p class="gray size-12" >6-20자의 영문, 숫자</p>
          </div>
          
          <p 
            *ngIf="form.get('password').hasError('required')  && form.get('password').touched"
            class="error-message" 
            style="text-align: center;">
            * 비밀번호를 입력하세요
          </p>
<!--           <p 
            *ngIf="form.get('password').hasError('minlength')  && form.get('password').touched"
            class="error-message" 
            style="text-align: center;">
            * 비밀번호는 6-20 이어야 합니다
          </p> -->  
<!--           <p 
            *ngIf="form.get('password').hasError('maxlength')  && form.get('password').touched"
            class="error-message" 
            style="text-align: center;">
            * 비밀번호는 6-20 이어야 합니다.
          </p>    -->        
          <p 
            *ngIf="form.get('password').hasError('pattern')  && form.get('password').touched"
            class="error-message" 
            style="text-align: center;">
            * 6-20자의 영문, 숫자를 사용하세요
          </p>                  
          <br>

          <ion-item>
            <!-- <ion-label position="floating">COMFIRM PASSWORD*</ion-label> -->
<!--             <ion-input
              placeholder="Required"
              type="password"
              ngModel
              name="confirmPassword"
              required
              #confirmPasswordCtrl="ngModel"
              minlength="6"
              pattern="{{ passwordCtrl.value }}"
            ></ion-input> -->
            <ion-input
              [type]="confirmPasswordType"
              placeholder="비밀번호확인*"
              clearInput
              formControlName="confirmPassword"
            ></ion-input>    
            <ion-button 
              fill="clear" slot="end" expand="block" (click)="showConfirmPassword()">
              {{show_hide_confirm}}
            </ion-button>                    
          </ion-item>
          
          <p 
            *ngIf="form.get('confirmPassword').hasError('required')  && form.get('confirmPassword').touched"
            class="error-message" 
            style="text-align: center;">
            * 비밀번호 확인을 입력하세요
          </p> 
          <p 
            *ngIf="form.get('confirmPassword').hasError('equalTo')  && form.get('confirmPassword').touched"
            class="error-message" 
            style="text-align: center;">
            * 비밀번호와 일치하지 않습니다
          </p> 
          <br>
        </div>
<!-- 
          <ion-item class="ion-no-lines"
            *ngIf="(form.get('confirmPassword').hasError('equalTo') || form.get('confirmPassword').hasError('required') ) && form.get('confirmPassword').touched">

            <div class="error"
                *ngIf="form.get('confirmPassword').hasError('required') && form.get('confirmPassword').touched">
                <p class="error_message">* Confirm password is required</p>
            </div>
            <div class="error"
                *ngIf="form.get('confirmPassword').hasError('equalTo') && form.get('confirmPassword').touched">
                <p class="error_message">* Password Mismatch</p>
            </div>
          </ion-item>    -->       
<!--      <ion-item *ngIf="!passwordCtrl.valid && passwordCtrl.touched">
            <ion-label>Should at least be 6 characters long</ion-label>
          </ion-item> -->       
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size-sm="6" offset-sm="3">
          <ion-button 
            type="submit" 
            color="primary" 
            expand="block"
            [disabled]='!form.valid'
            style="padding:0px 35px 0px 35px">
          확인
          </ion-button>
        </ion-col>
      </ion-row>
      
    </ion-grid>
  </form>
</ion-content>