<ion-header>
  <ion-toolbar>
    <ion-title>Login</ion-title>
    <ion-buttons slot="primary">
      <ion-button (click)="onCancel()">
        <ion-icon name="close" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <form #f="ngForm" (ngSubmit)="onFormSubmit(f)">
    <ion-grid>
      <ion-row>
        <ion-col size-sm="6" offset-sm="3">
          <ion-item>
            <ion-label position="floating">E-Mail</ion-label>
            <ion-input
              type="text"
              ngModel
              name="email"
              required
              #emailCtrl="ngModel"
            ></ion-input>
          </ion-item>
          <ion-item *ngIf="!emailCtrl.valid && emailCtrl.touched">
            <ion-label>Should be a valid email address</ion-label>
          </ion-item>
          <ion-item>
            <ion-label position="floating">Password</ion-label>
            <ion-input
              type="password"
              ngModel
              name="password"
              required
              #passwordCtrl="ngModel"
              minlength="6"
            ></ion-input>
          </ion-item>
          <ion-item *ngIf="!passwordCtrl.valid && passwordCtrl.touched">
            <ion-label>Should at least be 6 characters long</ion-label>
          </ion-item>
          <ion-item>
            <ion-label position="floating">Name</ion-label>
            <ion-input
              type="text"
              ngModel
              name="name"
              required
              #nameCtrl="ngModel"
            ></ion-input>
          </ion-item>
          <ion-item *ngIf="!emailCtrl.valid && emailCtrl.touched">
            <ion-label>Name is required</ion-label>
          </ion-item>          
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size-sm="6" offset-sm="3">
          <ion-button type="submit" color="primary" 
            expand="block"
            [disabled]='!f.valid'>
          Signup
          </ion-button>
        </ion-col>
      </ion-row>
      
    </ion-grid>
  </form>
</ion-content>