/* 
.test {
    background: url(../../../assets/images/nature.jpg) no-repeat center/cover fixed ;
    background-size: 100% 30%;
  }
  ion-content {
    background: url(images/nature.jpg) no-repeat center/cover fixed;
    -webkit-background-image: url('../assets/img/backgroundImg.png');
    // background-size: 100% 30%;
  }
 ion-content {
    background-color: transparent;
}  */