<ion-header>
    <ion-grid>
      <ion-row>
        <ion-col  size-sm="6" offset-sm="3">
          <ion-toolbar>
            <ion-title>말씀듣기</ion-title>
            <ion-buttons slot="end" >
              <app-top-image 
                [loggedUser]="loggedUser"
              >
              </app-top-image> 
              <ion-button 
                *ngIf="loggedUser && loggedUser.role.toUpperCase() === 'ADMIN'"
                (click)="onAddMedia()">
                <ion-label>미디어등록</ion-label>&nbsp;
                <ion-icon name="add-circle" ></ion-icon>
              </ion-button>              
              <!-- <ion-button
                (click) ="onMyInfo()"
                *ngIf="loggedUser" 
              >
                <P class="black size-14 weight-bold">내정보<P>
                <ion-icon 
                  name="person-circle-outline"
                  style="font-size:25px"
                  ></ion-icon>
              </ion-button> -->
            </ion-buttons> 
          </ion-toolbar>
        </ion-col>
      </ion-row>
    </ion-grid>
    
     
 
  <ion-grid class="ion-no-padding">
    <ion-row>
      <ion-col size-sm="6" offset-sm="3">
        <div class="myDiv">
          <ion-segment 
            class="ion-no-padding" 
           [(ngModel)] = "segCategory"
            (ionChange)="selectCategory($event)"
            scrollable  value="all" >
            <ion-segment-button class="ion-no-padding" value="all">
              <ion-label class="segment">전체</ion-label>
            </ion-segment-button>
            <ion-segment-button 
              class="ion-no-padding"
              layout="icon-hide"
              *ngFor="let category of loadedMediaCategory"
              value="{{category.id}}"
              >
              <ion-label class="segment">{{category.name}}</ion-label>
            </ion-segment-button>
            
          </ion-segment>
        </div>
       </ion-col>
      </ion-row>
      <ion-row *ngIf="selectedMedia && selectVideoFormat ==='fullvideo'">
        <ion-col size-sm="6" offset-sm="3" style="height: 170px ;">
          <iframe width="100%" height="170px" [src]=trustedVideoUrl frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
      </ion-col>
    </ion-row> 
    <ion-row  
      style="padding-top:0px;height:46px;"
      *ngIf="selectVideoFormat ==='audio'">
      <ion-col size-sm="6" offset-sm="3">
        <!-- <div *ngIf="selectedMedia && audioUrl && selectedMedia.youtubeLink.length <= 0" > -->
        <div 
          *ngIf="selectedMedia && audioUrl " 
          style="margin:0px !important;">
          <audio controls  
          style="width:100%; background-color:rgb(208, 229, 247) ;margin:0px !important">
            <source src="{{audioUrl}}" 
              type="audio/mpeg">
            Your browser does not support the audio element.
          </audio> 
        </div>         
      </ion-col>
    </ion-row>
    <ion-row 
      *ngIf="selectedMedia" 
      style="padding-top:0px;height:46px;
      ">
      <ion-col 
        size-sm="1.5" 
        offset-sm="3"
        style="background-color:rgb(236, 234, 234);"
        class="ion-text-center" 
        >
        <div style=" height: 46px; padding: 0px; margin:0"> 
          <p class="gray size-10 padding-0" style="display: inline;margin: 0 !important">설교</p>
          <p class="black size-12 weight-medium padding-0" style="margin: 0 !important">{{selectedMedia.author}}</p>
        </div> 
      </ion-col>
      <ion-col size-sm="1.5" class="ion-text-center" 
      style="background-color:rgb(236, 234, 234);">
        <div>
          <p class="gray size-10 padding-0" style="display: inline;margin: 0 !important">구분</p>
          <p class="black size-12 padding-0 weight-medium" style="margin: 0 !important">{{selectedMedia.category}}</p>
        </div>
      </ion-col>
      <ion-col size-sm="1.5" class="ion-text-center" 
      style="background-color:rgb(236, 234, 234);" >
        <div>
          <p class="gray size-10" style="display: inline;margin: 0 !important">날짜</p>
          <p class="black size-12 weight-medium" style="margin: 0 !important">{{selectedMedia.dateOfMedia | date:'yyyy-MM-dd'}}</p>
        </div>
      </ion-col>      
      <ion-col size-sm="1.5" class="ion-text-center"
      style="background-color:rgb(236, 234, 234);" >
        <div>
          <!-- <p class="gray size-10" style="display: inline;margin: 0 !important">선택</p> -->
          <ion-select style="font-size: 14px;color:tomato;margin-top: 3px; "
            ([ngModel])="selectVideoFormat"  
            (ionChange)="onChangeVideoFormat($event)"
            
            value="fullvideo">
            <ion-select-option value="fullvideo">실황</ion-select-option>
            <ion-select-option value="audio">오디오</ion-select-option>
          </ion-select>           
          <!-- <p class="gray size-10" style="display: inline;margin: 0 !important">다운로드</p> -->
        </div>
      </ion-col>             
    </ion-row>          
  </ion-grid>
</ion-header>

<ion-content>
  <ion-grid class="ion-no-padding">
    <ion-row >
      <ion-col class="ion-no-padding" size-sm="6" offset-sm="3">
<!--         <app-top-image 
          [isAuth]="isAuth"
          [loggedUser]="loggedUser"
          ></app-top-image> -->
      </ion-col>
    </ion-row> 
   
<!--     <ion-row>
      <ion-col 
        *ngIf="selectedMedia" 
        size-sm="6" 
        class="ion-text-right col-padding"  
        offset-sm="3"
        >

        <span class="text" style="color: gray;">방송안내 </span>
        <ion-icon class="icon" name="chevron-forward"></ion-icon>
      </ion-col>
    </ion-row> -->
        

    <ion-row >
      <ion-col size-sm="6"   offset-sm="3" class="ion-no-padding">
        <ion-list >
          <ion-item-sliding  *ngFor="let media of renderedMedias" #slidingItem>
            <ion-item style="padding: 6px !important;" (click)="openMediaDetail(media)">
<!--               <ion-avatar slot="start">
                <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
              </ion-avatar> -->
              <div>
                <p class="gray size-12 padding-4" >{{media.category }}&nbsp;|&nbsp;{{media.dateOfMedia|date:'yyyy-MM-dd'}}&nbsp;|&nbsp;{{ media.author }}</p>
                <p class="primary size-16 weight-regular padding-4" > {{media.title}}</p> 
                <p class="gray size-12 padding-4">{{media.subTitle}}</p>
              </div>

              <ion-label  class="ion-no-padding" >

              </ion-label>
            </ion-item>
            <ion-item-options *ngIf="loggedUser && loggedUser.role.toUpperCase() === 'ADMIN'">
              <ion-item-option
                color="secondary" 
                (click)="openEditMedia(media, slidingItem)">
                <ion-icon slot="icon-only" name="create"></ion-icon>
              </ion-item-option>
            </ion-item-options>  
          </ion-item-sliding>         
          <ion-item class="ion-text-center">
            <ion-label>
            <ion-button 
              (click)="showMore()"
              fill="clear"
              [disabled]="renderedMedias.length===0 || (loadedData && counter >= filteredMedias.length)"
            >
              더보기
            </ion-button>
            </ion-label>
          </ion-item>
          <!-- <ion-item class="ion-text-center">
            <ion-label>
              <ion-button 
                *ngIf="loggedUser && loggedUser.role.toUpperCase() === 'ADMIN'"
                (click)="onAddMedia()">
                <ion-label>미디어등록</ion-label>&nbsp;
                <ion-icon name="add-circle" ></ion-icon>
              </ion-button>
            </ion-label>
          </ion-item>      -->     
        </ion-list>  
      </ion-col>
    </ion-row>
  </ion-grid>

  
</ion-content>


