 /* ion-col {
    border: 1px solid green;
} 

 ion-content {
    --background:rgb(236, 233, 233);
} 
ion-card{
    display: flex;
    flex-direction: column;
    //width: 100%;
    border: 1px solid red;  
}
ion-item {
    border: 1px solid blue;  
}
ion-list {
    border: 1px solid red;  
} */