<!--  
<ion-header>
  <ion-grid>
    <ion-row>
      <ion-col  size-sm="6" offset-sm="3">
        <ion-toolbar>
          <ion-title>교회소식</ion-title>
          <ion-buttons slot="end" >
            <app-top-image 
              [loggedUser]="loggedUser">
            </app-top-image> 
            <ion-button 
              (click)="openAddNews()"
              *ngIf="loggedUser && loggedUser.role.toUpperCase() === 'ADMIN'">
              <ion-label>등록</ion-label>&nbsp;
              <ion-icon name="add-circle" ></ion-icon>
            </ion-button>
          </ion-buttons>
        </ion-toolbar>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size-sm="6" offset-sm="3">
        <div class="news-top" >
        </div>
      </ion-col>
    </ion-row>    
  </ion-grid>
</ion-header> -->
 
<ion-header>
  <ion-toolbar>
    <ion-title>교회소식</ion-title>
    <ion-buttons slot="end" >
      <app-top-image 
        [loggedUser]="loggedUser">
      </app-top-image> 
      <ion-button 
        (click)="openAddNews()"
        *ngIf="loggedUser && loggedUser.role.toUpperCase() === 'ADMIN'">
        <ion-label>등록</ion-label>&nbsp;
        <ion-icon name="add-circle" ></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
 
<!--   <ion-grid class="ion-no-padding">
    <ion-row>
      <ion-col  size-sm="6" offset-sm="3">    
        <div class="news-top" >
        </div>
      </ion-col>
    </ion-row>    
  </ion-grid> --> 
</ion-header>

<ion-content>
<ion-grid 
  class="ion-no-padding"
  style="padding-top:10px;" >

    <ion-row *ngFor="let news of renderedNews"   >
      <ion-col size-sm="6" offset-sm="3" >
        <!-- style="border: 1px red solid" -->
        <ion-list class="ion-no-padding">
          <!-- style="border: 1px blue solid" -->
          <ion-item (click)="openNewsDetail(news)" 
            class="ion-no-padding"
            lines="none" style="height: 100px;">
            <!--  style="border: 1px red solid; height: 100px" -->
            <div *ngIf="news.downloadUrl.length === 0" 
            style="padding-left:10px" >
              <img  height=100px width="150px" src ="../../../assets/images/news-top.jpg" >
            </div>
            <div *ngIf="news.downloadUrl.length > 0"
              style="padding-left:10px"
              >
              <img src="{{news.downloadUrl[0]}}"  height="100" width="150px" >
            </div> 
            <div style="width:100%; height:100px; padding-left:20px; vertical-align: top;">
              <p class="primary size-16 weight-regular"> {{news.title}} </p>
              <p class="gray size-12 "> 
                {{news.whenCreated | date: 'y'}} 년
                {{news.whenCreated | date: 'M'}} 월
                {{news.whenCreated | date: 'd'}} 일 
              </p>
            </div>
          </ion-item>
          <div style="height: 8px; margin-left:10px; margin-right:10px;
          width:100%; background-color:var(--ion-color-light);
          "></div>
 
        </ion-list>


              
      </ion-col>
    </ion-row>
</ion-grid>

<ion-grid > 



  <ion-row>
    <ion-col class="ion-text-center">
      <ion-button 
        (click)="showMore()"
        fill="clear"
        [disabled]="renderedNews.length===0 || (loadedData && counter >= loadedData.length)"
      >
        더보기
      </ion-button>
    </ion-col>
  </ion-row>
  
</ion-grid>
</ion-content>
