<ion-header>
  <ion-grid>
    <ion-row> 
      <ion-col size-sm="6" offset-sm="3">       
        <ion-toolbar>
          <ion-title>교인주소록</ion-title> 
          <ion-buttons slot="end">
              <app-top-image [loggedUser]="loggedUser">
              </app-top-image> 
            <!-- <ion-button 
              *ngIf="loggedUser && loggedUser.role.toUpperCase() === 'ADMIN'"
              [routerLink]="['/','main','tabs','members','new']">
              <ion-label>등록</ion-label>&nbsp;
              <ion-icon name="add-circle"></ion-icon>
            </ion-button> -->
          </ion-buttons>
        </ion-toolbar>
      </ion-col>
    </ion-row>
  </ion-grid>  
  <ion-grid class="ion-no-padding">
    <ion-row *ngIf="loggedUser && loggedUser.role.toUpperCase() === 'ADMIN'">
      <ion-col size-sm="6" offset-sm="3">
        <div class="myDiv">
          <ion-segment 
            (ionChange)="onFilterUpdate($event)" value="name" 
            [(ngModel)] = "setCategory"
            class="ion-no-padding" >
            <ion-segment-button class="ion-no-padding"  value="name">
              <ion-label class="segment">이름으로 정렬</ion-label>
              <!-- <p style="color: purple; font-size:12px">장년기도력</p> -->
             <!--  <ion-label class="ion-no-padding segment">장년기도력</ion-label> -->
            </ion-segment-button>
            <ion-segment-button class="ion-no-padding"  value="role">
              권한별로 정렬
              <!-- <p style="color: purple; font-size:12px">어린이기도력</p> -->
              <!-- <ion-label class="ion-no-padding segment">어린이기도력</ion-label> -->
            </ion-segment-button>
            <ion-segment-button class="ion-no-padding"  value="isAdminConfirmed">
              신규가입 정렬
            </ion-segment-button>            
          </ion-segment> 
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
  </ion-header>

  <ion-content class="ion-no-padding" >
    <ion-grid >
      <ion-row >
        <ion-col size-sm="6" offset-sm="3" class="ion-no-padding">
          <ion-list >
              <ion-item  
                *ngFor="let user of loadedData" 
                style="padding:7px"
                (click)="openUserDetail(user)">
                <div style="padding-left:15px">
                  <ion-avatar>
                    <img class="img-thumb"
                    src="../../../assets/images/no-avatar.png">
                  </ion-avatar>
                </div>
                <div style="padding-left: 15px">
                  <p class="black size-14 weight-bold"> {{ user.name }} </p>
                  <p class="gray size-12"> {{user.email}}</p>
                  <p class="gray size-12" *ngIf="user.isAdminConfirmed === '0'"> {{user.role + '(신규)'}}</p> 
                  <p class="gray size-12" *ngIf="user.isAdminConfirmed !== '0'"> {{user.role + '(확인)'}}</p> 
                </div>
              </ion-item>

          </ion-list>  
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-content>