<ion-header>
  <ion-toolbar>
    <ion-title>말씀듣기</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="onCancel()">
        <ion-icon name="close" ></ion-icon>
        <ion-label>나가기</ion-label>
      </ion-button>
    </ion-buttons>  
  </ion-toolbar>
</ion-header>

<ion-content class="ion-no-padding">

  <ion-grid >
    <ion-row>
      <ion-col size-sm="6" offset-sm="3" >
        <p class="font-black-14-bold">{{selectedNews.author}}</p>
        <p class="font-gray-10">{{selectedNews.whenCreated | date: 'y'}}년
           {{selectedNews.whenCreated | date: 'M'}}월
           {{selectedNews.whenCreated | date: 'd'}}일
        </p>
        <p class="font-black-12" style="white-space: pre-wrap;">
          {{selectedNews.note}}
        </p>
        <div *ngIf="selectedNews.downloadUrl.length > 0">
          <div  *ngFor="let img of selectedNews.downloadUrl ; let i=index" style="padding: 1px">
              <img src="{{img}}"   ><p></p>
              
          </div>
        </div>        
      </ion-col>
    </ion-row>  
    <ion-row>
      <ion-col size-sm="6" offset-sm="3" class="ion-text-center">
        <ion-button expand="block" color="primary" (click)="onDeleteNews(selectedNews)">
          Delete
         </ion-button> 
      </ion-col>
    </ion-row>            
  </ion-grid>        