/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";




 .hero-image {
    background: url(./assets/images/nature.jpg) no-repeat center ;
    padding: 0 0 0 0;
    background-size: 100% 100%;
  }

  .pray-image {
    background: url(./assets/images/grass.jpg) no-repeat center ;
    padding: 0 0 0 0;
    background-size: 100% 100%;
    height: 160px;
  }
  .pray-image-medium {
    background: url(./assets/images/grass.jpg) no-repeat center ;
    padding: 0 0 0 0;
    background-size: 100% 100%;
    height: 250px;
  }
  .pray-image-large {
    background: url(./assets/images/grass.jpg) no-repeat center ;
    padding: 0 0 0 0;
    background-size: 100% 100%;
    height: 300px;
  }
  ion-toolbar, ion-header {
    --min-height: 46px;
   }

   @font-face {
    font-family: 'Noto Sans KR';
    src: url('../src/assets/fonts/NotoSansKR-Thin.otf');//mine
    font-style: normal;
    font-weight: 100;
   }
   @font-face {
    font-family: 'Noto Sans KR';
    src: url('../src/assets/fonts/NotoSansKR-Light.otf');//mine
    font-style: normal;
    font-weight: 300;
   }
   @font-face {
    font-family: 'Noto Sans KR';
    src: url('../src/assets/fonts/NotoSansKR-Regular.otf');//mine
    font-style: normal;
    font-weight: 400;
   }
   @font-face {
    font-family: 'Noto Sans KR';
    src: url('../src/assets/fonts/NotoSansKR-Medium.otf');//mine
    font-style: normal;
    font-weight: 500;
   }
   @font-face {
    font-family: 'Noto Sans KR';
    src: url('../src/assets/fonts/NotoSansKR-Bold.otf');//mine
    font-style: normal;
    font-weight: 700;
   }

   @font-face {
    font-family: 'Noto Sans KR';
    src: url('../src/assets/fonts/NotoSansKR-Black.otf');//mine
    font-style: normal;
    font-weight: 900;
   }

  
  * {
    font-family: 'Noto Sans KR';
  }
  // color
  p {
    margin:0px;
  }
  p.black {
    color: black !important;
  }
  p.white {
    color: white !important;
  }
  p.gray {
    color: gray !important;
  }
  p.primary {
    color: var(--ion-color-primary) !important;
  }
  p.tertiary {
    color: var(--ion-color-tertiary) !important;
  }
  p.success {
    color: var(--ion-color-success) !important;
  }

  // font size
  p.size-10 {
    font-family: "Noto Sans KR" !important;
    font-size: 10px;
  }
  p.size-12 {
    font-family: "Noto Sans KR" !important;
    font-size: 12px;
  }
  p.size-14 {
    font-family: "Noto Sans KR" !important;
    font-size: 14px;
  }
  p.size-16 {
    font-family: "Noto Sans KR" !important;
    font-size: 16px;
  }
  p.size-18 {
    font-family: "Noto Sans KR" !important;
    font-size: 18px;
  }
  p.size-20 {
    font-family: "Noto Sans KR" !important;
    font-size: 20px;
  }
  // font bold
  p.weight-thin {
    font-weight: 100 !important;
  }
  p.weight-light {
    font-weight: 300 !important;
  }
  p.weight-regular {
    font-weight: 400 !important;
  }
  p.weight-medium {
    font-weight: 500 !important;
  }
  p.weight-bold {
    font-weight: 700 !important;
  }
  p.weight-black {
    font-weight: 900 !important;
  }
  // font padding
  p.padding-0 {
    padding: 0px !important;
  }
  p.padding-2 {
    padding: 2px !important;
  }
  p.padding-4 {
    padding: 4px !important;
  }
  p.padding-6 {
    padding: 6px !important;
  }
  p.padding-8 {
    padding: 8px !important;
  }
  p.padding-10 {
    padding: 10px !important;
  }
  // span color
  span.black {
    color: black !important;
  }
  span.white {
    color: white !important;
  }
  span.gray {
    color: gray !important;
  }
  span.primary {
    color: var(--ion-color-primary) !important;
  }
  span.tertiary {
    color: var(--ion-color-tertiary) !important;
  }
  span.success {
    color: var(--ion-color-success) !important;
  }

  // font size
  span.size-10 {
    font-family: "Noto Sans KR" !important;
    font-size: 10px;
  }
  span.size-12 {
    font-family: "Noto Sans KR" !important;
    font-size: 12px;
  }
  span.size-14 {
    font-family: "Noto Sans KR" !important;
    font-size: 14px;
  }
  span.size-16 {
    font-family: "Noto Sans KR" !important;
    font-size: 16px;
  }
  span.size-18 {
    font-family: "Noto Sans KR" !important;
    font-size: 18px;
  }
  span.size-20 {
    font-family: "Noto Sans KR" !important;
    font-size: 20px;
  }
  // font bold
  span.weight-thin {
    font-weight: 100 !important;
  }
  span.weight-light {
    font-weight: 300 !important;
  }
  span.weight-regular {
    font-weight: 400 !important;
  }
  span.weight-medium {
    font-weight: 500 !important;
  }
  span.weight-bold {
    font-weight: 700 !important;
  }
  span.weight-black {
    font-weight: 900 !important;
  }
  // font padding
  span.padding-2 {
    padding: 2px !important;
  }
  span.padding-4 {
    padding: 4px !important;
  }
  span.padding-6 {
    padding: 6px !important;
  }
  span.padding-8 {
    padding: 8px !important;
  }

  p.error-message {
    color: red !important;
    font-size: 12px;
    font-family: "Noto Sans KR";
  }

  ion-input,
 
  ion-input[type="email"],
  ion-input[type="textarea"]
  {   
      font-size:14px !important;
      color: black !important;
      font-family: "Noto Sans KR";
  }
  ion-select {
    padding-left: 0!important;
    font-size:14px !important;
    color: black !important;
    font-family: "Noto Sans KR";
  }
  ion-datetime {
    padding-left: 0!important;
  } 
 

 