<ion-header>
  <ion-toolbar>
    <ion-title>말씀듣기</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="onCancel()">
        <ion-icon name="close" ></ion-icon>
        <ion-label>나가기</ion-label>
      </ion-button>
    </ion-buttons>  
  </ion-toolbar>
</ion-header>

<ion-content class="ion-no-padding">
  <ion-grid >
    <ion-row>
      <ion-col size-sm="6" offset-sm="3" class="ion-text-center">
        <ion-label  class="ion-no-padding" >
          <p class="font-bold-black">{{selectedMedia.title}}</p>
          <p class="font-gray"> {{selectedMedia.subTitle}}</p>
        </ion-label>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size-sm="2" class="ion-text-center" offset-sm="3">
        <ion-label  class="ion-no-padding" >
          <p class="font-gray-small">설교</p>
          <p>{{selectedMedia.author}}</p>
        </ion-label>
      </ion-col>
      <ion-col size-sm="2" class="ion-text-center">
        <ion-label  class="ion-no-padding" >
          <p class="font-gray-small">구분</p>
          <p>{{selectedMedia.category}}</p>
        </ion-label>
     </ion-col>
     <ion-col size-sm="2" class="ion-text-center"  >
      <ion-label  class="ion-no-padding" >
        <p class="font-gray-small">날짜</p>
        <p>{{selectedMedia.whenCreated | date:'yyyy-MM-dd'}}</p>
      </ion-label>
   </ion-col>           
    </ion-row>
    <ion-row>
      <ion-col size-sm="6" offset-sm="3">
        <div *ngIf="!isLoading" >
          <audio controls  style="width:100%" >
            <source src="{{audioUrl}}" 
              type="audio/mpeg">
            Your browser does not support the audio element.
          </audio> 
        </div>         
      </ion-col>
    </ion-row>    
    <ion-row *ngIf="selectedMedia.youtubeLink.length > 0 ">
      <ion-col size-sm="6" offset-sm="3">
        
          <!-- <iframe width="100%" height="315" src="https://www.youtube.com/embed/IXI2eRqSUqQ" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe> -->
          <iframe width="100%" height="315" [src]=trustedVideoUrl frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>

      </ion-col>
    </ion-row>
    <ion-row *ngIf="loggedUser && loggedUser.role.toUpperCase() == 'ADMIN'">
      <ion-col size-sm="6" offset-sm="3">
        <ion-button expand="block" color="primary" (click)="openEdit(selectedMedia)">
         Edit
        </ion-button>   
      </ion-col>
    </ion-row>     
    <ion-row *ngIf="loggedUser && loggedUser.role.toUpperCase() == 'ADMIN'">
      <ion-col size-sm="6" offset-sm="3">
        <ion-button expand="block" color="primary" (click)="onDeleteMedia(selectedMedia)">
         Delete
        </ion-button>   
      </ion-col>
    </ion-row>            
  </ion-grid>

</ion-content>